@model ControlHorasExtras.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="nombreUsuario">Nombre de usuario</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" required asp-for="NombreUsuario" />
        @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" name="contraseña" class="form-control" required asp-for="Contraseña" />
        @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<!-- Mostrar los errores desde ModelState -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-2">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
